/*CSS RESETS*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  object-fit: contain;
  max-width: 100%;
  vertical-align: bottom;
}

select, option, textarea, button, ul, ol, li {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/*UTILS*/
.btn {  
  border-style: none;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: hsl(215, 92%, 49%);
  color: white;
  letter-spacing: 0.1rem;
}

.question-txt {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.answer-option {
  margin-bottom:0.5rem;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.8rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.answer-option.done {
  cursor: not-allowed;
}

.answer-option.wrong {
  background-color: #FFDDE0;
  border-color: #D32F2F;
}

.answer-option.right {
  background-color: #E7F6D5;
  border-color: #BBBA8B;
}

/*Main Styles*/
.container {
  max-width: 36rem;
  margin: 5rem auto;
}

.container > header > section {  
  display: flex;
  justify-content: space-between;
  place-items: center;
}


.timer {  
  display: block;
  width: 5rem;
  padding: 0.5rem 1rem;
  background-color: hsl(199, 94%, 94%);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.bottom-progress {    
  width:100%;
  font-size: 0.3rem;
}

main > button {
  display: block;
  margin-left: auto;
}

.quiz-section {
  margin: 2rem 0;
}

